.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 650px;
    /* margin: 0 auto; */
    /* border: 2px solid gray; */
}
.login
{
    padding: 35px;
    border: 2px solid gray;
    box-shadow: 3px 4px 5px rgba(119, 115, 115, 0.794);
}
.reports
{
    padding: 35px;
    width: 80%;
    border: 2px solid gray;
    box-shadow: 3px 4px 5px rgba(119, 115, 115, 0.794);
}
.space
{display: flex;
justify-content: space-between;}
.date
{
    text-transform: capitalize;
    font-size: larger;
}
#date
{
    text-decoration: underline;
    font-size: larger;
    font-weight: bolder;
}
